block variables
  - var title = "Duel Gallery Config Editor"
doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel="shortcut icon", href="../static/favicon.png", type="image/x-icon")
  link(rel='stylesheet' href='index.css')
  title= title
  block scripts
    script(async='' src='https://vision.duel.me/loader.js')
.header
  h2= title
  button#import-config Import config
main
  mixin checkbox(name, label, checked=false)
    .checkbox
      input(type='checkbox' id=name name=name checked=checked)
      label(for=name)= label

  mixin colorPicker(name, label, defaultValue='')
    .input
      label(for=name)= label
      .grouped.color-picker
        input(type='text' placeholder='auto' id=name name=name value=defaultValue)
        input(type='color' id=`${name}Picker`)

  article.columns
    section
      .input
        label(for='gallery-identifier') Associated gallery
        .select-wrapper
          select#gallery-identifier
            option(value='none' data-show='') Sample gallery
            option(value='id' data-show='gallery-id') Gallery ID
            option(value='product' data-show='product') Short ID + Product SKU
      #gallery-id.input
        label(for='id') Gallery ID
        input#id(type='text' name='id' placeholder='Duel Gallery ID')
      #product.grouped
        .input
          label(for='short-id') Short ID
          input#short-id(type='text' name='short-id' placeholder='Duel Short ID')
        .input(style='flex: 1;')
          label(for='product-sku') Product SKU
          input#product-sku(type='text' name='product-sku' placeholder='Unique product identifier')
  article.columns
    section
      .input
        label(for='entries') Displayed entries
        .grouped
          .select-wrapper
            select#entries(name='entries')
              option(value='dynamic') Dynamic feed (with load more)
              option(value='topRanked') Fixed (top ranked)
              option(value='fixed') Fixed
          #entries-count.grouped
            label(for='count') Count
            input(type='number' name='count' value='1')
        +checkbox('campaignOnly', 'Include relevant product entries', true)
      .input
        label(for='sort') Sort order
        .select-wrapper
          select#sort(name='sort')
            option(value='rank') Most popular
            option(value='created') Newest first
            option(value='created-desc') Oldest first
            option(value='random') Random
      .input
        label Displayed sort controls
        #sort-controls.grouped.checkboxes
          +checkbox('rank', 'Most popular')
          +checkbox('created', 'Newest first', true)
          +checkbox('created-desc', 'Oldest first', true)
          +checkbox('random', 'Random')
      .input
        label(for='displayMin') Minimum entries before display
        input#displayMin(type='number' name='displayMin' placeholder='1')
    section
      +colorPicker('color', 'Foreground color', '#222222')
      +colorPicker('bgColor', 'Background color', '#ffffff')
      +colorPicker('thumbColor', 'Thumbnail overlay color')
      +colorPicker('thumbBgColor', 'Thumbnail background color')
      .input
        label(for='misc-display') Misc. display
        .grouped.checkboxes
          +checkbox('hideAttributions', 'Hide attributions')
          +checkbox('hideDates', 'Hide dates')
          +checkbox('testimonialPreview', 'Preview testimonials')
          +checkbox('seamless', 'Seamless')
  article.columns
    section
      .input
        label Layout
        .grouped
          .grouped
            label(for='layoutStyle') Style
            .select-wrapper
              select#layoutStyle(name='layoutStyle')
                option(value='grid' data-show='rows columns') Grid
                option(value='list' data-show='rows') List
                option(value='carousel' data-show='columns') Carousel
                option(value='dynamic' data-show='') Dynamic
          #rows.grouped
            label(for='default-rows') Rows
            input#default-rows(type='number' name='default-rows' placeholder='auto')
          #columns.grouped
            label(for='default-columns') Columns
            input#default-columns(type='number' name='default-columns' placeholder='auto')
      .input
        label Layout styles
        #layout-styles
        button#new-layout-style New layout style
    section
      #layout-rules.input
        label Advanced layout rules
        .tabs
          span.active(data-key='grid') Grid
          span(data-key='list') List
          span(data-key='carousel') Carousel
        .tab-content
          .active(data-key='grid')
          div(data-key='list')
          div(data-key='carousel')
          button#new-layout-rule New layout rule
  article#bottom-controls
    .header
      button#generate-config Generate gallery configuration code
      div
        input(type='radio' name='language' value='json' checked='')
        label(for='json') JSON
        input(type='radio' name='language' value='js')
        label(for='js') JS
        input(type='radio' name='language' value='html')
        label(for='html') Snippet
    textarea#config-code(rows='20')
  article#preview
    .header
      button#show-preview Show preview
      button#refresh-preview.secondary Refresh
    script.
      window.DuelVision = window.DuelVision||function(o){(DuelVision.s=DuelVision.s||[]).push(o)};
    #gallery-container(style='min-height: 50px;')
      .loader.hidden Loading gallery...
      #duelvision-component
#import-modal.modal
  .modal-content
    .header
      h2 Import gallery configuration
      span.close &times;
    textarea(rows='20' placeholder='Paste your config here')
    .error
    button Import
script(src='index.js')
